<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}Default{% endblock %} - Day 04 FristSlim</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                &copy; Copyright 2020 by <a href="http://day04slimfirst.ipd20/"> JIAN</a>.
            </div>
        </div>
    </body>
</html>