{% extends "master.html.twig" %}

{% block title %}Say Hello{% endblock %}

{% block content %}
    {% if errList %}
        <ul class="errorMessage">
            {% for err in errList %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        Name: <input type="text" name="name" value="{{ v.name}}"></br>
        Age: <input type="number" name="age" value="{{ v.age}}"></br>
        <input type="submit" value="Say Hello">
    </form>
{% endblock %}