﻿
/*
    CSS document for CSS styling form web page
    Script date: october 15,2019
    Developed by: Jian Zhang
*/

.form-style-10 {
    width:450px;
    margin:40px auto;
    border-radius:10px;
    padding:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.13);
    background-color:#fff;
}

    .form-style-10 .inner-warp {
        margin-bottom:15px;
        border-radius:6px;
        padding:30px;
        background-color:#f8f8f8;
    }

    .form-style-10 h1 {
        margin: -30px -30px 30px -30px;
        border: 1px solid #257c9e;
        padding: 20px 30px 15px 30px;
        background-color: #2A88AD;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.12);
        box-shadow: 0 2px 2px 0 rgba(255,255,255,0.17) inset;
        border-radius: 10px 10px 0 0;
        font: normal 30px 'Bitter', serif;
    }

    .form-style-10 h1 > span {
        display:block;
        margin-top:2px;
        font:13px Arial, Helvetica, sans-serif;
    }

    .form-style-10 label {
        display: block;
        font: 13px Arial, Helvetica, sans-serif;
        color:#888;
        margin-bottom:15px;
    }

    .form-style-10 input[type="text"],
    .form-style-10 input[type="email"],
    .form-style-10 input[type="tel"],
    .form-style-10 input[type="password"],
    .form-style-10 textarea {
        width: 100%;
        display: block;
        border: 2px solid #fff;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.33) inset;
    }

    .form-style-10 .section {
        margin-bottom: 5px;
        color: #2a88ad;
        font: normal 20px 'Bitter', serif;
    }

        .form-style-10 .section span {
            position:absolute;
            margin-top:-3px;
            background-color: #2A88AD;
            color:white;
            border-radius:50%;
            margin-left:-45px;
            padding:5px 10px 5px 10px;
            font-size:14px;
        }

    .form-style-10 input[type="submit"] {
        border: 1px solid #257c9E;
        font: normal 20px 'Bitter', serif;
        background-color: #2A88AD;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.12);
        box-shadow: 0 2px 2px 0 rgba(255,255,255,0.17) inset;
    }

    .form-style-10 .privacy-policy {
        float: right;
        width: 250px;
        color: #4d4d4d;
        margin-top: 10px;
        text-align: right;
    }

    .form-style-10 input[type="submit"]:hover {
        background-color: #2a6881;
        box-shadow: 0 2px 2px 0 rgba(255,255,255,0.28);
        transform:scale(1.1);
    }

    .form-style-10 input[type="text"]:focus,
    .form-style-10 input[type="email"]:focus,
    .form-style-10 input[type="tel"]:focus,
    .form-style-10 input[type="password"]:focus,
    .form-style-10 textarea:focus {
        background-color: #e3fbfc;
        color: #043d14;
        font-size:1.5em;
    }

    input:focus:required:invalid {
        background-image:url(../images/error.png);
        background-repeat:no-repeat;
        background-position:98% center;
        background-color:lightgoldenrodyellow;
    }

input:required:valid {
    background-image: url(../images/accept.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}

input[type="email"]:focus:required:invalid {
    background-image: url(../images/email_error.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}