{% extends "master.html.twig" %}

{% block title %}My Blog - Add/Edit article{% endblock %}

{% block content %}
    {% if errors %}
    <ul class="errorMessage">
        {% for err in errors %}
            <li>{{ err }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user %}
    <div class="divcenter"><h2>Create/Edit article</h2><div>
        <form method="post">
        Title: <input type="text" name="title" value="{{ article.title }}"></br>
        Content: <textarea name="content" rows="4" cols="50">{{ article.body }}</textarea></br>
        <input type="submit" value="Create/Edit">
    </form>
    {% endif %}
{% endblock %}