{% extends "master.html.twig" %}

{% block title %}My Blog - Article{% endblock %}

{% block content %}
{% if article %}
    </br>
    <div> <h2 class="divcenter"><a href="/articleaddedit/{{ article.id }}">{{ article.title }}</a></h2></div>
    <div> <h3>Posted by {{ article.author }} on {{ article.postdate }} at {{ article.posttime }}</h3></div>
    <div> <h4> {{ article.body | raw }} </div>
{% endif %}
{% if userSession %}
    <div class="divleft">My comment<div>
    {% if error %}
        <ul class="errorMessage">
            <li>{{ error }}</li>
        </ul>
    {% endif %}
    <form method="post">
        <input type="submit" value="Create">
        <input hidden id="articleid" name="articleid" value="{{article.id}}">
        Content: <textarea name="comment" rows="4" cols="50">{% if error %}{{ comment }}{% endif %}</textarea></br>        
    </form>
{% endif %}

{% if comments %}
    <div><h2>Previus comments</h2></div>
    {% for comm in comments %}
    <div> <h3>{{comm.author}} said on {{comm.postdate}} at {{ comm.posttime }}</h3></div>
    <div> <h4>{{ comm.body | raw }}</div>
    </br>
    {% endfor %}
{% endif %}

{% if totalpages %}
    {% for page in 1..totalpages %}
        <a href="/article/{{article.id}}/{{page}}" {% if page == currentpage%}class="errorMessage{% endif %}">{{ page }}</a>
    {% endfor %}
{% endif %}
{% endblock %}