{% extends "master.html.twig" %}

{% block title %}Welcome My Blog - Home{% endblock %}

{% block content %}
    <div class="divcenter"><h1>Welcome to my blog</h1></div>
{% if articles %}
    {% for article in articles %}
        </br>
        <div> <h2><a href="/article/{{ article.id }}">{{ article.title }}</a></h2></div>
        <div> <h3>Posted by {{ article.author }} on {{ article.postdate }} at {{ article.posttime }}</h3></div>
        <div> <h4> {{ article.body }} </div>
    {% endfor %}
{% endif %}
{% if totalpages %}
    {% for page in 1..totalpages %}
        <a href="/index/{{ page }}" {% if page == currentpage%}class="errorMessage{% endif %}">{{ page }}</a>
    {% endfor %}
{% endif %}
{% endblock %}