{% extends "master.html.twig" %}

{% block title %}My Blog - Login{% endblock %}

{% block content %}
    {% if error %}
        <ul class="errorMessage">
            <li>{{ error }}</li>
        </ul>
    {% endif %}
    <div class="form-style-10">
        <form method="post" id="signup" >
            <div class="inner-warp">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" maxlength="50" required="required" value="{{ v.username }}"/><br/>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required="required" value="{{ v.password }}"/>
            </div>
            <div class="divcenter">
                <input type="submit" id="login" name="login" value="Login"/>
                <input type="button" id="home" name="home" value="Home" onclick="window.location.href = '/';"/>
            </div>
        </form>
    </div>
{% endblock %}