<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}Default{% endblock %} - Day 04 FristSlim</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            {% if userSession %}
                <div class="divright">Yor are logged in as {{ user.username }}</div>;
                <div class="divright">You can <a href="/logout">logout</a> or <a href="/articleaddedit">post an article</a></div>;
            {% else %}
                <div class="divright">you can <a href="/login">Login</a> or <a href="/register">Register</a> to post articles or comments</div>
            {% endif %}
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer" class="divright">
                &copy; Copyright 2020 by <a href="http://day04slimblog/"> JIAN</a>.
            </div>
        </div>
    </body>
</html>