body {
    background-color: #ffffcc;
}
div {
    margin: 12px 5px;
}
#centerContent {
    width: 840px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}
#listPane {
    border: darkgray 1px solid;
    width: 640px;
    display: inline-table;
}
#viewAddPane {
    border: darkgray 1px solid;
    width: 640px;
    display: inline-table;
}
.dueDateColumn { width: 80px; }

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}
