{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}

<p>Access denied.</p>

<p><a href="/">Click here</a> to continue.</p>

<img src="/images/forbidden.png" width="200">

{% endblock %}

