{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="divcenter"><h1>Welcome to Shouts</h1></div>
    <div class="divcenter"><h3><a href="/login">login</a></h3></div>
    <div class="divcenter"><h3><a href="/register">register</a></h3></div>
    <div class="divcenter"><h3><a href="/logout">logout</a></h3></div>
    <div class="divcenter"><h3><a href="/shouts/list">shouts list</a></h3></div>
{% endblock %}