<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}Default{% endblock %} - Quiz1SlimShout</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            {% if userSession %}
                <div class="divright">Yor are logged in as {{ userSession.username }}</div>
                <div class="divright">You can <a href="/logout">logout</a> or <a href="/shouts/add">send a message</a></div>
            {% else %}
                <div class="divright">you can <a href="/login">Login</a> or <a href="/register">Register</a> to send messages</div>
            {% endif %}
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer" class="divright">
                &copy; Copyright 2020 by <a href="http://quiz1slimshout/"> JIAN</a>.
            </div>
        </div>
    </body>
</html>