{% extends "master.html.twig" %}

{% block title %}Registration{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#username").on('focusout keyup keypress blur change cut paste', function() {
                if($("#username").val()!=""){
                    $.get("/checkusernameavailable/"+$("#username").val()).done(function(data){
                        if(data!="true"){
                            //alert("This username has already been taken by another user.");
                            $("#isTaken").html("This username has already been taken by another user.");
                        }else{
                            $("#isTaken").html("");
                        }
                    });
                }
            });
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            alert("Ajax error occured");
        });
    </script>
{% endblock %}

{% block content %}
    {% if errors %}
        <ul class="errorMessage">
            {% for err in errors %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-style-10">
        <h1>
            New User Registration
        </h1>
        <form id="signup" method="post" enctype="multipart/form-data">
            <div class="section"><span>1</span>Username</div>
            <div class="inner-warp">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" maxlength="50" required="required" value="{{ v.username }}"/><br/>
                <span id="isTaken"></span>
            </div>

            <div class="section"><span>2</span>Password</div>
            <div class="inner-warp">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required="required"/>
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required="required" />
            </div>

            <div class="section"><span>3</span>User's photo</div>
            <div class="inner-warp">
                <label for="photo">Photo</label>
                <input type="file" id="photo" name="photo" required="required"/>
            </div>
            <div class="divcenter">
                <input type="submit" id="sign_up" name="sign_up" value="Register!"/>
            </div>
        </form>
    </div>
{% endblock %}