{% extends "master.html.twig" %}

{% block title %}Shouts List{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#users").on('change', function() {
                //$("#users option:selected" ).text()
                if($("#users option:selected" ).text()!=""){
                    $.get("/ajax/loadshouts/by/"+$("#users option:selected" ).text()).done(function(data){
                        $("#shoutslist").html(data);
                    });
                }else{
                    $.get("/ajax/loadshouts").done(function(data){
                        $("#shoutslist").html(data);
                    });
                }
            });
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            alert("Ajax error occured");
        });
    </script>
{% endblock %}
{% block content %}
    <div class="divcenter"><h1>Welcome to Shouts</h1></div>
    <div class="divcenter">        
        <select id="users" name="users">
            <option value=""></option>
            {% if users %}            
                {% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
                {% endfor %}            
            {% endif %}
        </select>
        <span><a href="/shouts/add">Add new shout</a></span>
        <table id="shoutstbl" border="1" width="100%">
            <thead>
                <tr>
                    <td>id of shout</td>
                    <td>author name</td>
                    <td>author avatar</td>
                    <td>message</td>
                </tr>
            </thead>
            <tbody id="shoutslist">
                {% if shouts %}            
                {% for shout in shouts %}
                <tr>
                    <td>{{shout.id}}</td>
                    <td>{{shout.username}}</td>
                    <td><image src="/uploads/{{shout.imagePath}}" height="50"></image></td>
                    <td>{{shout.message | raw }}</td>
                </tr>
                {% endfor %}            
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}