{% extends "master.html.twig" %}

{% block title %}add{% endblock %}

{% block content %}
    {% if errors %}
    <ul class="errorMessage">
        {% for err in errors %}
            <li>{{ err }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if userSession %}
    <div class="divcenter"><h2>add a message</h2><div>
        <form method="post">
        <textarea name="message" rows="10" cols="50">{{ article.body }}</textarea></br>
        <input type="submit" value="add">
    </form>
    {% else %}
        please <a href="/login">login</a> first.
    {% endif %}
{% endblock %}