{% extends "shop.html.twig" %}

{% block title %}Welcome to eShop - {{pagetitle}}{% endblock %}
{% block head %}
<style>
    #tishi{
    margin: 0 auto;
    border:2px solid #FFFFFF;
    font-size:22px;
    color:#990000;
    padding-top:20px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:110;
    display:none;
    background:#e7e7e7;
    left:50%-120;
    top:0;
    opacity:0.8;
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div id="tishi">
    Add a category<br/>
    <form method="post">
        Name: <input type="text" name="name" value="{{ v.name}}"></br>
        <input type="submit">
    </form>
</div>
    <div class="cart_buttons">
        <button type="button" class="button cart_button_clear">Delete Category</button>
        <button type="button" class="button cart_button_checkout" onclick="document.getElementById('tishi').style.display = 'block';">Add Category</button>
    </div>

    {% if categories %}
    <table border="1" width="100%">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>
                {{category.id}}
            </td>
            <td>
                {{category.name}}
            </td>
            <td>
                <span>delete</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if totalpages %}
            <div class="shop_page_nav d-flex flex-row">
                <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                <ul class="page_nav d-flex flex-row">
                    {% for page in 1..totalpages %}
                    <li><a href="#">{{ page }}</a></li>
                    {% endfor %}
                </ul>
                <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
            </div>
        {% endif %}

        
    {% endif %} 

    
{% endblock %}