{% extends "shop.html.twig" %}

{% block title %}Welcome to eShop - Home{% endblock %}

{% block content %}
    {% if products %}
    <div class="shop_content">
        <div class="shop_bar clearfix">
            <div class="shop_product_count"><span>186</span> products found</div>
            <div class="shop_sorting">
                <span>Sort by:</span>
                <ul>
                    <li>
                        <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></span></i>
                        <ul>
                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
                            <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>price</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% for product in products %}
            <div class="product_item is_new">
                <div class="product_border"></div>
                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                    {%if product.pictureFilePath %}<img src="{{product.pictureFilePath}}" alt="">{% endif %}
                </div>
                <div class="product_content">
                    <div class="product_price">{{product.unitPrice}}</div>
                    <div class="product_name"><div><a href="#" tabindex="0">{{product.name}}</a></div></div>
                </div>
                <div class="product_fav"><i class="fas fa-heart"></i></div>
                <ul class="product_marks">
                    <li class="product_mark product_discount">-25%</li>
                    <li class="product_mark product_new">new</li>
                </ul>
            </div>
        {% endfor %}

        {% if totalpages %}
            <div class="shop_page_nav d-flex flex-row">
                <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                <ul class="page_nav d-flex flex-row">
                    {% for page in 1..totalpages %}
                    <li><a href="#">{{ page }}</a></li>
                    {% endfor %}
                </ul>
                <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
            </div>
        {% endif %}
    </div>
    {% endif %} 

    
{% endblock %}