{% extends "shop.html.twig" %}

{% block title %}eShop - {{pagetitle}}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/styles/styling_form.css" />
{% endblock %}
{% block content %}
    {% if error %}
        <ul class="errorMessage">
            <li>{{ error }}</li>
        </ul>
    {% endif %}
    <div class="form-style-10">
        <form method="post" id="signup" >
            <div class="inner-warp">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" maxlength="50" required="required" value="{{ v.email }}"/><br/>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required="required" value="{{ v.password }}"/>
            </div>
            <div class="divcenter">
                <input type="submit" id="login" name="login" value="Login"/>
            </div>
        </form>
    </div>
{% endblock %}