{% extends "shop.html.twig" %}

{% block title %}eShop - {{pagetitle}}{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#email").on('focusout keyup keypress blur change cut paste', function() {
                if($("#email").val()!=""){
                    $.get("/checkemailavailable/"+$("#email").val()).done(function(data){
                        if(data!="true"){
                            $("#isTaken").html("This email has already been registered, please login.");
                        }else{
                            $("#isTaken").html("");
                        }
                    });
                }
            });
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            alert("Ajax error occured");
        });
    </script>
    <link rel="stylesheet" href="/styles/styling_form.css" />
{% endblock %}

{% block content %}
    {% if errors %}
        <ul class="errorMessage">
            {% for err in errors %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-style-10">
        <h1>
            New User Registration
        </h1>
        <form id="signup" method="post">
            <div class="section"><span>1</span>Name</div>
            <div class="inner-warp">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" maxlength="50" required="required" value="{{ v.name }}"/><br/>
            </div>
            <div class="section"><span>2</span>Email</div>
            <div class="inner-warp">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="yourname@xxx.com" required="required" value="{{ v.email }}"/>
                <span id="isTaken"></span>
            </div>
            <div class="section"><span>3</span>Password</div>
            <div class="inner-warp">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required="required"/>
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required="required" />
            </div>
            <div class="button-section">
                <input type="submit" id="sign_up" name="sign_up" value="Sign Up"/>
                <span class="privacy-policy"><input type="checkbox" id="isadmin" name="isadmin"/>Is admin</span>
            </div>
        </form>
    </div>
{% endblock %}